<h1>Listing states</h1>

<table>
  <tr>
    <th>Cities</th>
    <th>Capital</th>
    <th>Size</th>
    <th>Language</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @states.each do |state| %>
  <tr>
    <td><%= state.cities %></td>
    <td><%= state.capital %></td>
    <td><%= state.size %></td>
    <td><%= state.language %></td>
    <td><%= link_to 'Show', state %></td>
    <td><%= link_to 'Edit', edit_state_path(state) %></td>
    <td><%= link_to 'Destroy', state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New State', new_state_path %>
