<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown trigger</a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
<li><%=link_to 'cities',cities_path,tabindex:"-1"%>
</a></li>
<li><%=link_to 'states',states_path,tabindex:"-1"%></a></li>
<li><a tabindex="-1" href="#">Something else here</a></li>
<li class="divider"></li>
<li><a tabindex="-1" href="#">Separated link</a></li>
</ul>
</div>
<%=link_to 'home',root_path%>
<%= yield %>
<script> $('.dropdown-toggle').dropdown()</script>
</body>
</html>
